In [ ]:
# Print even or odd
l = ["even" if y%2==0 else "odd" for y in range(5)]
l

['even', 'odd', 'even', 'odd', 'even']

In [ ]:
# Reverse of words
k = ("Hello","how",'are','you')
l = [k[::-1] for k in k]
l

['olleH', 'woh', 'era', 'uoy']

In [ ]:
# print 0 to 100 numbers divisible by 2 and 5
y = [k for k in range(100)if k%2==0 if k%5==0]
y

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
# Transpose of a matrix
m = [[1,2],[3,4],[5,6]]
t = [[k[i] for k in m]for i in range(2)]
t

[[1, 3, 5], [2, 4, 6]]



# Python Multiplication table

In [ ]:
n = int(input("Enter table:"))
for i in range(1,11):
  print(n,"x",i,"=",n*i)

Enter table:3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [ ]:
for i in range(6):
  for j in range(1,i+1):
    print('*',end = ' ')
  print(" ")

*
* *
* * *
* * * *
* * * * *

In [ ]:
# print -1 if all list elements
n = [i-1 for i in range(2,12)]
n

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# sum 
l = [2,3,4,5]
s = 0
for i in l:
  s = s+i
print(s)

14

In [ ]:
# print calender by taking input as year and month
import calendar
yy = int(input("Enter year:"))
mm = int(input("Enter month"))
print(calendar.month(yy,mm))

Enter year:2023
Enter month1
    January 2023
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

In [ ]:
# print -2 values of range between 2 to 12
n = [i-2 for i in range(2,12)]
n

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# square of list of numbers
l = [1, 2, 3, 4, 5, 6]
for i in range(len(l)):
  l[i] = l[i] * l[i]
print("Update version of List:", l)

Update version of List: [1, 4, 9, 16, 25, 36]

In [ ]:
List1 = [1,'ABC', 2, 'XYZ', 3, 'abc', 'XYZ']
i = 0
while i < len(List1):
  print(f'{i}: {List1[i]}')
  i = i + 1

0: 1
1: ABC
2: 2
3: XYZ
4: 3
5: abc
6: XYZ

In [ ]:
#Example 11: Looping through a list: using enumerate() method
l = [1,'ABC', 2, 'XYZ', 3, 'abc', 'XYZ']
for i,r in enumerate(l):
  print(i,":",r)

0 : 1
1 : ABC
2 : 2
3 : XYZ
4 : 3
5 : abc
6 : XYZ

In [ ]:
# print even numbers with in range of 20
nl = [i for i in range(1,20) if i%2 == 0]
nl

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
# print upper case words
f = [i.upper()  for i in ['asha','icy']]
f

In [ ]:
# #Example 16: Nested List comprehensions: For loop equivalent
str1 = "WXYZ"
res_list = []
for i in range(len(str1)):
  for j in range(i, len(str1)):
    res_list.append((str1[i], str1[j]))
print(res_list)

[('W', 'W'), ('W', 'X'), ('W', 'Y'), ('W', 'Z'), ('X', 'X'), ('X', 'Y'), ('X', 'Z'), ('Y', 'Y'), ('Y', 'Z'), ('Z', 'Z')]

In [ ]:
# print combination letters in a word
l = "WXYZ"
nl = []
for i in range(len(l)):
    for j in range(i,len(l)):
            nl.append((l[i],l[j]))
print(nl)

[('W', 'W'), ('W', 'X'), ('W', 'Y'), ('W', 'Z'), ('X', 'X'), ('X', 'Y'), ('X', 'Z'), ('Y', 'Y'), ('Y', 'Z'), ('Z', 'Z')]

In [ ]:
# join words using '-'
l = ['jam', 'sam', 'ham', 'dam']
s = '-'
nl = s.join(l)
nl

'jam-sam-ham-dam'

In [ ]:
# print even numbers from a list
#Input: list1 = [2, 7, 5, 64, 14]
# Output: [2, 64, 14]
l = [2, 7, 5, 64, 14]
for i in l:
  if i%2==0:
    print(i,'\n')

2

64

14

In [ ]:
l = [2, 7, 5, 64, 14]
e = []
o = []
c = 0
c1 = 0
for i in l:
  if i%2 ==0:
    c = c+1
  else:
    c1 = c1+1
print("even count",c)    
print("odd count",c1)

even count 3
odd count 2

In [ ]:
# count sum of positive numbers
l  = [1,2,3,-1,5]
c = 0
sum = 0
for i in l:
  if i>0:
    sum = sum+i
    c = c+1
print("count",c) 
print("sum",sum)

count 4
sum 11

In [ ]:
# print negative numbers
l  = [1,2,3,-1,5,-6]
n = [i for i in l if i<0]
n

[-1, -6]

In [ ]:
# print even numbers
nl = [i for i in range(1,20) if i%2 == 0]
nl

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
# swap
a = 1
b = 0
a, b = b, a
print(a, b)

0 1

In [ ]:
# cube
pow2 = [2 ** x for x in range(10) if x>5]
print(pow2)

[64, 128, 256, 512]

In [ ]:
# print numbers in list a not in b 
a = [1,2,3,4,5]
b = [5,6,7,8,9]
# desired output: [1,2,3,4]

# gets each item found in `a` AND not in `b`
print([i for i in a if i not in b])

[1, 2, 3, 4]

In [ ]:
# copy list from one ist to other
f = ["apple", "banana", "cherry", "kiwi", "mango"]
nl = []
for i in f:
    nl.append(i)
nl

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [ ]:
# Import statistics Library
import statistics

# Calculate average values
print(statistics.mean([1, 3, 5, 7, 9, 11, 13]))
print(statistics.mean([1, 3, 5, 7, 9, 11]))
print(statistics.mean([-11, 5.5, -3.4, 7.1, -9, 22]))

7
6
1.8666666666666667

In [ ]:
# Import statistics Library
import statistics

# Calculate middle values
print(statistics.median([1, 3, 5, 7, 9, 11, 13]))
print(statistics.median([1, 3, 5, 7, 9, 11]))
print(statistics.median([-11, 5.5, -3.4, 7.1, -9, 22]))

7
6.0
1.05

In [ ]:
# exclude empty list and print 
t = [5, 6, [9], 3, [], [], 9]
n = [i for i in t if i!=[]]
n

[5, 6, [9], 3, 9]

In [ ]:
# print common sublists
test_list1 = [ [1, 2], [3, 4], [5, 6] ]
test_list2 = [ [3, 4], [5, 7], [1, 2] ]
nl = []
for i in test_list1:
  if i not in test_list2:
    nl.append(i)
for i in test_list2:
  if i not in test_list1:
    nl.append(i)    
nl

[[5, 6], [5, 7]]

In [ ]:
# print reverse of numbers from each list
t= [[4, 1, 6], [7, 8], [4, 10, 8]]
for i in t:
  i.sort(reverse=True)
  print(i)

[6, 4, 1]
[8, 7]
[10, 8, 4]

In [ ]:
# print revers of list
t = [1,2,3]
sorted(t,reverse=True)

[3, 2, 1]

In [ ]:
# count unique values
l = [1,1,2,3,3,4,4,5,6,7,7]
l1 = []
cnt = 0
for i in l:
  if i not in l1:
    cnt = cnt+1
    l1.append(i)
print(cnt)

7

In [ ]:
# count unique values using set
il = [1,2,3,1,2]
i2 = set(il)
len(i2)

3

In [ ]:
# List product excluding duplicates
l = [1,2,3,4,4]
nd = []
for i in l:
  if i not in nd:
    nd.append(i)
print(nd)  

def mul(l):
  m = 1
  for i in l:
    m = m*i
  print(m)
ml = mul(nd)

[1, 2, 3, 4]
24

In [ ]:
# switch elemetnt first to last and last to first
l = [1,2,3,4]
p,*q,r = l
print(r,*q,p)

4 2 3 1

In [ ]:
# # switch elemetnt first to last and last to first
l = [1,2,3,4]
get = l[-1],l[0]
l[0],l[-1] = get
l

In [ ]:
# # switch elemetnt first to last and last to first
l = [1,2,3,4]
l[0],l[-1] = l[-1],l[0]
l

In [ ]:
# rev of list
def sw(l):
  for i in l:
    temp = l[0]
    l[0] = l[-1]
    l[-1] = temp
    return l
sw([1,2,3,4,5])

[5, 2, 3, 4, 1]

In [ ]:
# print number of elements
l= [1,2,3,4,5,10]
c = 0
for i in l:
  c = c+1 
c

6

In [ ]:
# print biggest number
def m(a,b):
  if a>b:
    print(a)
  else:
    print(b)
m(2,3)

3

In [ ]:
# number available in list or not
l= [1,2,3,4,5]

if(4 in l): 
      print("yes")

In [ ]:
# print reverse of list
lst = [10, 11, 12, 13, 14, 15]
l = []
for i in lst:
  l.insert(0,i)
print(l)

[15, 14, 13, 12, 11, 10]

In [ ]:
# sum of list elements using user defined functions
def list_sum(num_list):
    the_sum = 0
    for i in num_list:
        the_sum = the_sum + i
    return the_sum

print(list_sum([1, 3, 5, 7, 9]))

25

In [ ]:
# how many times a number occured
def how(l,x):
  c = 0
  for i in l:
    if(i == x):
      c = c+1
  return c
how([1,1,2,2,3,3],2)

2

In [ ]:
# avg of list
L = [4, 5, 1, 2, 9, 7, 10, 8]
c = 0
for i in L:
  c = c+i
avg = c/len(l)
avg

15.333333333333334

In [ ]:
# # samll no in a list
list1 = [10, 20, 4, 45, 99]
list1.sort()
list1[0]

4

In [ ]:
# samll no in a list
from functools import reduce
l = [10,20,30]
print(reduce(min,l))

10